.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e6e9f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(15, 8, 8);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.myHeaderstyle{
  background-color: #447dee;
  text-decoration-color: rgb(102, 3, 109);
}

.teststyle{
  background-color: #44eebb;
  text-decoration-color: rgb(109, 37, 3);
}

.Dark-Theme{
  background-color: #282c34;
  color: #e6e9f0;
}